@import "tailwindcss";

/* -----------------------------
   Design Tokens (Tailwind v4)
   ----------------------------- */
@theme {
  --color-foreground: #1B263B; 
  --color-background: #0A0908;
  --color-primary: #F2F4F3;
  --color-secondary: #D9DBDA;

  
  
  /* Defines a theme variable for the monospace font stack */

}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-ranade);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
